<?xml version='1.0' encoding="utf-8"?>
<Wix xmlns='http://schemas.microsoft.com/wix/2003/01/wi'>
<Product
Id           = "????????-????-????-????-????????????"
UpgradeCode  = 'BA22E6B2-CA4F-42d7-8B47-AE5661DA4B23'
Name         = 'TouchFreeze'
Language     = '1033'
Version      = '$(var.VERSION)'
Manufacturer = 'Ivan Zhakov'
>

<Package             
Id               = '????????-????-????-????-????????????'
Description      = 'TouchFreeze'
Comments         = 'This package installs the application on your computer.'
InstallerVersion = '200'
Compressed       = 'yes'
/>

<Property Id="AcceptLicense">No</Property>

<!--BUTTON TEXTS-->
<Property Id="Button_Back">&lt; &amp;Back</Property>
<Property Id="Button_Next">&amp;Next ></Property>
<Property Id="Button_Finish">&amp;Finish</Property>

<Property Id="Button_OK">OK</Property>
<Property Id="Button_Cancel">Cancel</Property>

<Property Id="Button_Browse">Br&amp;owse...</Property>
<Property Id="Button_Exit">&amp;Exit</Property>
<Property Id="Button_Ignore">&amp;Ignore</Property>
<Property Id="Button_Install">&amp;Install</Property>
<Property Id="Button_Remove">&amp;Remove</Property>
<Property Id="Button_Repair">&amp;Repair</Property>
<Property Id="Button_Reset">&amp;Reset</Property>
<Property Id="Button_Resume">&amp;Resume</Property>
<Property Id="Button_Retry">&amp;Retry</Property>
<Property Id="Button_Return">&amp;Return</Property>

<Property Id="Button_Yes">&amp;Yes</Property>
<Property Id="Button_No">&amp;No</Property>
<!--END BUTTON TEXTS-->
<CustomAction Id="SET_TARGETDIR"   Property="TARGETDIR"  Value="[ProgramFilesFolder]\[ProductName]" Execute="firstSequence" />
<CustomAction Id="RunAfterInstall" FileKey="F_Exe" ExeCommand="load" Return="asyncNoWait"/>
<CustomAction Id="UnloadTouchFreeze" FileKey="F_Exe" ExeCommand="unload" Return="ignore"/>

<!-- INSTALL DESCRIPTION -->
<Media Id='1' CompressionLevel="high" Cabinet='contents.cab' EmbedCab='yes' />

   <Directory Id="TARGETDIR" Name="SourceDir">
        <Component Id="C_MachineRegistry" Guid="CD40E587-30EB-4D41-B2EB-96E446A4DB2E" >
            <Registry KeyPath="yes" Root="HKCU" Key="Software\Microsoft\Windows\CurrentVersion\Run" Name="[ProductName]" Value="[TARGETDIR]TouchFreeze.exe" Type="string"/>
            <!--Registry Action="remove" Root="HKCU" 
            Key="Software\Microsoft\Windows\CurrentVersion\Run" 
            Name="[ProductName]"/-->
        </Component>

        <Component Id="C_InfoFiles" Guid="5FAEC6E1-508C-4373-A639-5FAD2CFE3598">
            <File Id="F_license" Name="LICENS~1.TXT" LongName="License.txt" DiskId="1" src="..\..\License.txt" />
        </Component>

        <Component Id="C_Bin" Guid="2F1FD4CC-32F0-51FB-A9CE-9DB539518655" DiskId="1">
            <File Id="F_Exe" Name="TOUCHF~1.EXE" 
                LongName="TouchFreeze.exe" 
                src="$(var.ExecDir)\TouchFreeze.exe"
                KeyPath="yes">
                <Shortcut Id="TFShortcut" Directory="TFProgFolder" 
                    Name="TOUCHF~1" LongName="TouchFreeze" Show="normal" 
                    WorkingDirectory="TARGETDIR" />
            </File>

            <File Id="F_Dll" Name="TOUCHF~1.DLL" LongName="TouchFreeze.dll" 
                src="$(var.ExecDir)\TouchFreeze.dll"/>
        </Component>
        
        <Directory Id="ProgramMenuFolder" Name="CCFolder">
            <Directory Id="TFProgFolder" Name="TOUCHF~1" LongName="TouchFreeze" />
        </Directory>
    </Directory>

    <Feature Id="DefaultFeature" Level="1" ConfigurableDirectory="TARGETDIR">
      <ComponentRef Id="C_Bin" />
      <ComponentRef Id="C_InfoFiles"/>
      <ComponentRef Id="C_MachineRegistry" />
    </Feature>

<!-- END INSTALL DESCRIPTION -->

<UI>
<!-- FONT DEFINITION -->
<Property Id="TitleFont">{&amp;DlgFontBold8}</Property>
<Property Id="BigFont">{&amp;VerdanaBold13}</Property>
<Property Id="DefaultUIFont">DlgFont8</Property>

<TextStyle Id="DlgFont8" FaceName="Tahoma" Size="8" />
<TextStyle Id="DlgFontBold8" FaceName="Tahoma" Size="8" Bold="yes" />
<TextStyle Id="VerdanaBold13" FaceName="Verdana" Size="13" Bold="yes" />
<!-- END FONT DEFINITION -->

<InstallUISequence>
<Custom Action="SET_TARGETDIR" Before="CostInitialize">TARGETDIR=""</Custom>

<Show Dialog="WelcomeDialog" After="MigrateFeatureStates" />

<Show Dialog="ProgressDialog" After="WelcomeDialog" />

<Show Dialog="UserExit" OnExit="cancel" />
<Show Dialog="ExitDialog" OnExit="success" />
<Show Dialog="FatalError" OnExit="error" />
</InstallUISequence>

<AdminUISequence>
<Custom Action="SET_TARGETDIR" Before="CostInitialize">TARGETDIR=""</Custom>

<Show Dialog="WelcomeDialog" After="CostFinalize" />

<Show Dialog="ProgressDialog" After="WelcomeDialog" />

<Show Dialog="UserExit"   OnExit="cancel" />
<Show Dialog="ExitDialog" OnExit="success" />
<Show Dialog="FatalError" OnExit="error" />
</AdminUISequence>
</UI>

<AdminExecuteSequence>
</AdminExecuteSequence>

<InstallExecuteSequence>
  <RemoveExistingProducts After="InstallInitialize"/>
  <Custom Action="UnloadTouchFreeze" Before="RemoveFiles"/>
</InstallExecuteSequence>

<Binary Id="dialog.bmp" src = "./Resources/default-dialog.bmp" />
<Binary Id="banner.bmp" src = "./Resources/default-banner.bmp" />
<Binary Id="info.bmp"   src = "./Resources/info.ico" />
<Binary Id="up.bmp"     src = "./Resources/up.ico" />
<Binary Id="new.bmp"    src = "./Resources/new.ico" />

<Upgrade Id = 'BA22E6B2-CA4F-42d7-8B47-AE5661DA4B23'>
  <UpgradeVersion Minimum="0.0.0" 
    IncludeMinimum="yes" IncludeMaximum="yes" />
</Upgrade>
</Product>
</Wix>